body {
    font-family: "Raleway", sans-serif;
    background-color: black;
    color: aliceblue;
}

h1, h2 {
    text-align: center;
}


footer {
    text-align: center;
    align-content: baseline;
}

.boxes-1 {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 3%;
}

.box-1 {
    width: 40%;
    justify-content: space-between;
    align-content: center;
}


.boxes-2 {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 3%;
}

.box-2 {
    width: 25%;
    justify-content: center;
}

.box-icono{
    padding: 3%;
    align-content: center;
    justify-content: space-between;
    gap: 5rem;
}

img {
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    gap: 7rem;
    justify-content: center;
}

li {
    padding: 1rem;
    text-align: center;
}



.fondo-gris{
    
    background-color: #1E1A13;
}
